/* Ensuring unique styles for the login page */

body#login-page {
    /* Targeting only the login page body with a unique id */
    margin: 0;
    padding: 0;
    background: url('../assets/background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}


/* Login Form Styling */

#login-form {
    margin: auto;
    max-width: 700px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}


/* Title Styling */

#login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}


/* Labels */

#login-form label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}


/* Input fields and select dropdown */

#login-form input,
#login-form select {
    margin: 10px 0px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    text-align: left;
}


/* Placeholder alignment */

#login-form input::placeholder {
    color: #aaa;
    text-align: left;
}


/* Buttons */

#login-form button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


/* Hover effects for buttons */

#login-form button:hover {
    background-color: #218838;
    /* transform: translateY(-2px); */
}


/* Register and Forgot Password buttons */

#login-form a button {
    background-color: #007bff;
    margin-top: 10px;
}

#login-form a button:hover {
    background-color: #0056b3;
}

#login-form a {
    text-decoration: none;
    width: 100%;
}


/* Form sections for layout */

#role-section,
#username-section,
#password-section {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 20px;
}