/* General Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
}


/* Footer Container */

.footer {
    background-color: #222f3d;
    color: white;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 5rem;
    margin-bottom: -2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Footer Panel 1 (Back to Top) */

.foot-panel1 {
    padding: 20px 0px;
    background-color: #4b5157;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.foot-panel1:hover {
    background-color: #3a3e43;
}


/* Footer Panel 2 (Links and Lists) */

.foot-panel2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
    flex-wrap: wrap;
    text-align: left;
}

.footer ul {
    margin: 20px 10px;
    padding: 0;
    list-style-type: none;
}

.footer ul li {
    margin: 10px 0;
}

.footer ul strong {
    font-size: 18px;
    color: #f1c40f;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer ul a {
    color: #dddddd;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer ul a:hover {
    color: #e74c3c;
}


/* Footer Panel 3 (Contact Info) */

.foot-panel3 {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: #ccc;
}

.contact-info p,
.contact-info a,
.contact-info address {
    margin: 10px 0;
    font-size: 16px;
    color: #dddddd;
}

.contact-info a {
    text-decoration: none;
    color: #f1c40f;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #e74c3c;
}

.foot-panel3 span {
    display: flex;
    justify-content: center;
    gap: 15px;
}


/* Footer Panel 4 (Bottom Section with Copyright and Links) */

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    width: 100%;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pages {
    margin-bottom: 10px;
}

.pages a {
    color: #dddddd;
    margin: 0 15px;
    font-size: 14px;
    transition: color 0.3s ease;
}

.pages a:hover {
    color: #e74c3c;
}

.copyright {
    font-size: 14px;
    color: #777777;
}


/* Responsive Design */

hr {
    border: 0;
    border-top: 2px solid #dec9c9;
    width: 100%;
    margin: 1.5px 0;
}